.banner {
  position: relative;
  display: inline-block;
  width: 100%;

  img {
    width: 100%;
    display: block;
  }

  .content {
    position: absolute;
    bottom: 42px;
    left: 87px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 50%;
    z-index: 2;
    p {
      padding: 0;
      #texts {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
