// cores do tema
$blue: #3442b5;
$yellow: #f7ca11;
$purple: #271c47;
$violet: #3019b2;
$light-gray: #9f9f9f;
$dark-gray: #3f3f40;
$white: #ffffff;
$black: #3b3b3b;
$border: #f0f0f0;
$search: #f6f5f2;
$bg-card: #f4f4f4;
$divider: #dedede;

//fonte principal
$font-primary: 'Poppins', sans-serif;
